<div id="slide-home">
	<div id="slide" class="animate__animated animate__fadeInLeft">
	<div class="card-content">
<div class="card">
<div class="divCard">Ingresa con</div>
<div class="divCard2"><img src="../public/img/logo-miArgentina.png" alt="" ></div>
<div class="divCard ">			  
	<nav><a href="/sistemas-inscripciones" id="bt-miArgentina2">Ingresa con Mi Argentina</a></nav>
  </div>

</div>

	</div>
</div>
</div>
<section id="home" class="animate__animated animate__fadeInUp animate__delay-0s">
	<div>
	<div class="news-cont">
		<div class="news-cont-left">
			<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
			<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
			<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
		</div>
	</div>
	<div class="news-cont-img"><img src="../public/img/img-home.png" alt="" ></div>
</div>
<div>
	<div class="news-col">
		<div class="news-cont">
			<div class="news-cont-left">
				<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
				<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
				<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
			</div>
		</div>
		<div class="news-cont-img"><img src="../public/img/img-home2.png" alt="" ></div>
	</div>
	<div >
		<div class="news-cont">
			<div class="news-cont-left">
				<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
				<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
				<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
			</div>
		</div>
		<div class="news-cont-img"><img src="../public/img/img-home3.png" alt="" ></div>
	</div>

</div>
</section>
