<div id="top">
		</div>
		<div id="slide-news">
			<div id="slide" class="animate__animated animate__fadeInLeft">
				<div>
Titulo Novedad
	</div>
</div>

</div>
<section  class="animate__animated animate__fadeIn">
	<div >
		<div class="news-cont-left">
			<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
			<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAlessandro, el Fiscal General de la Ciudad de Buenos Aires, Dr. Juan Bautista Mahiquez, el Director del ISSP, Dr.Gabriel Unrein, el Secretario de Coordinación Institucional de la Procuración General de la Nación. Dr.Juan Manuel Olima, el Presidente de la Asociación de Fiscales y Funcionarios de la Nación (AFFUN) Dr.Carlos Rívolo, el Fiscal General Adjunto en Ministerio Público Fiscal de la CABA y Pte. de la Asociación Argentina de Fiscales, Marcelo Varona Quintián, y Ricardo Fernandez, Agregado Jurídico de la Embajada de Estados Unidos -FBI. Las exposiciones frente a los Fiscales participantes fueron dictadas por personal Policial y de Bomberos del Instituto.</div>
			<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAlessandro, el Fiscal General de la Ciudad de Buenos Aires, Dr. Juan Bautista Mahiquez, el Director del ISSP, Dr.Gabriel Unrein, el Secretario de Coordinación Institucional de la Procuración General de la Nación. Dr.Juan Manuel Olima, el Presidente de la Asociación de Fiscales y Funcionarios de la Nación (AFFUN) Dr.Carlos Rívolo, el Fiscal General Adjunto en Ministerio Público Fiscal de la CABA y Pte. de la Asociación Argentina de Fiscales, Marcelo Varona Quintián, y Ricardo Fernandez, Agregado Jurídico de la Embajada de Estados Unidos -FBI. Las exposiciones frente a los Fiscales participantes fueron dictadas por personal Policial y de Bomberos del Instituto.</div>
			<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/" class="info">volver</a></nav></div>

		</div>
	</div>
	
</div>
</section>