<div id="top">
		</div>
<section id="inscripcion" class="animate__animated animate__fadeIn">
	<div>
		
<form method="post" action="#">
	<div class="header-pp" >Datos Personales</div>
	<div class="grid">
	<div class="campo">
		<label for="given_name">Nombre/s</label>
		<input type="text" id="given_name" name="given_name" placeholder="Juan Carlos" disabled  >
	
	</div>
	<div class="campo">
		<label for="family_name">Apellido/s</label>
		<input type="text" id="family_name" name="family_name" placeholder="Perez" disabled >
		<span class="errMsj"></span>
	</div>
	<div class="campo1">
		<div class="campo2">
		<label for="dni_number">DNI</label>
		<input type="text" id="dni_number" name="dni_number" placeholder="33555444" disabled  >
		<span class="errMsj"></span>
	</div>
	<div class="campo2 pl-20">
		<label for="birthdate">Fecha de Nacimiento</label>
		<input type="text" id="birthdate" name="birthdate" placeholder="20/09/2006" disabled  >
		<span class="errMsj"></span>
	</div>
	</div>

	<div class="campo1">
		<div class="campo3">
		<label for="gender">Género</label>
		<input type="text" id="gender" name="gender" placeholder="masculino" disabled >
		<span class="errMsj"></span>
	</div>
	<div class="campo3 pl-20">
		<label for="peso">Peso(Kg)</label>
		<input type="text" id="peso" name="peso" >
		<span class="errMsj"></span>
	</div>
	<div class="campo3 pl-20">
		<label for="altura">Altura(cm)</label>
		<input type="text" id="altura" name="altura" >
		<span class="errMsj"></span>
	</div>
	</div>
</div>
<div class="header-pp mt-20" >Datos de Contacto</div>
<div class="grid">

	<div class="campo">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" >
		<span class="errMsj"></span>
	</div>
<div class="campo">
	<label for="confirm-email">Confirmar Email</label>
	<input type="email" id="confirm-email" name="confirm-email" >
	<span class="errMsj"></span>
</div>

<div class="campo1">
	<div class="campo2">
	<label for="phone_number">Celular personal</label>
	<input type="text" id="phone_number" name="phone_number"  >
	<span class="errMsj"></span>
</div>
<div class="campo2 pl-20">
	<label for="phone_secondary">Celular familiar</label>
	<input type="text" id="phone_secondary" name="phone_secondary" >
	<span class="errMsj"></span>
</div>
</div>

<div class="campo">
	<label for="phone">Teléfono(Si no tiene, familiar o vecino)</label>
	<input type="text" id="phone" name="phone"  >
	<span class="errMsj"></span>
</div>

<div class="campo1">
	<div class="campo2">
	<label for="country">Provincia</label>
	<select name="country">
		<option value="value1" selected>Value 1</option>
		<option value="value2" >Value 2</option>
		<option value="value3">Value 3</option>
	  </select>
	<span class="errMsj"></span>
</div>
<div class="campo2 pl-20">
	<label for="locality">Localidad</label>
	<select name="locality">
		<option value="value1" selected>Value 1</option>
		<option value="value2" >Value 2</option>
		<option value="value3">Value 3</option>
	  </select>
	<span class="errMsj"></span>
</div>
</div>
</div>
<div class="header-pp mt-20" >Información</div>
<div class="campo mt-25">
	<label for="given_name">Máximo nivel de estudios finalizados/s</label>
	<input type="text" id="given_name" name="given_name" >
</div>
<div class="campo mt-25">
	<label for="given_name">¿Cómo conoció a la Policía de la Ciudad?</label>
	<input type="text" id="given_name" name="given_name" >
</div>

	<div class="div-button mt-20 mb-20">
	<button name="submit" type="submit" data-submit="...Enviar" class="bt">Siguiente</button>
	<span class="errForm errMsj"></span>
</div>
</div>
</form>
<br>
		</div>
	</div>
</section>