
<section id="news" class="animate__animated animate__fadeInUp animate__delay-0s">
	<div>
	<div class="news-cont">
		<div class="news-cont-left">
			<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
			<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
			<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
		</div>
	</div>
	<div class="news-cont-img"><img src="../public/img/img-home.png" alt="" ></div>
</div>
<div>
	<div class="news-col">
		<div class="news-cont">
			<div class="news-cont-left top">
				<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
				<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
				<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>

				<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
			</div>
		</div>
		<div class="news-cont-img top"><img src="../public/img/img-home2.png" alt="" ></div>
	</div>
	<div >
		<div class="news-cont">
			<div class="news-cont-left">
				<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
				<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
				<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
			</div>
		</div>
		<div class="news-cont-img"><img src="../public/img/img-home3.png" alt="" ></div>
	</div>

	<div class="news-col">
		<div class="news-cont">
			<div class="news-cont-left">
				<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
				<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
				<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
			</div>
		</div>
		<div class="news-cont-img"><img src="../public/img/img-home2.png" alt="" ></div>
	</div>
	<div >
		<div class="news-cont">
			<div class="news-cont-left">
				<div class="news-header">Seminario de buenas practicas para incrementar la seguridad </div>
				<div class="news-text">Se realizó en el ISSP el "Seminario de buenas prácticas para incrementar la seguridad de los Fiscales". El acto de apertura tuvo la presencia del Ministro de Justicia y Seguridad de la Ciudad Autónoma de Buenos Aires, Marcelo DAless</div>
				<div class="news-iconos"><div class="share">Compartir</div><div ><nav><a href="/info" class="info">Ampliar info</a></nav></div>
			</div>
		</div>
		<div class="news-cont-img"><img src="../public/img/img-home3.png" alt="" ></div>
	</div>

</div>
</section>
