<div id="top">
  <div id="top-slide">
    <div class="header-pp mt-15 ml-15">Sistema de inscripciones</div>
    <div class="grid">
    <div class="two animate__animated animate__fadeInUp animate__delay-0s">
<img src="/public/img/sist-inscripcion.png" alt="" />
  
    <div class="header-blue"><nav><a href="/solicitud-inscripcion" class="link">Inscripciones</a></nav></div>
  </div>

  <div class="two animate__animated animate__fadeInUp animate__delay-0s">
    <div>
      <img src="/public/img/sist-ver-inscripcion.png" alt="" />
    </div>
    <div class="header-blue"><nav><a href="/solicitud-inscripcion" class="link">Ver Inscripciones en Curso</a></nav></div>
  </div>

  <div class="two animate__animated animate__fadeInUp animate__delay-0s">

    <div>
      <img src="/public/img/sist-turnos.png" alt="" />
    </div>
    <div class="header-blue"><nav><a href="/solicitud-inscripcion" class="link">Turnos</a></nav></div>
  </div>

  <div class="two animate__animated animate__fadeInUp animate__delay-0s">

    <div>
      <img src="/public/img/sist-news.png" alt="" />
    </div>
    <div class="header-blue"><nav><a href="/novedades" class="link">Novedades</a></nav></div>
  </div>
</div>
</div>
    
	

</div>

