<div id="top">
		</div>
<section id="solicitud" class="animate__animated animate__fadeIn">
	<div class="grid">
		<div class="two animate__animated animate__fadeInUp animate__delay-0s">
	<img src="/public/img/bombero.png" alt="" />
	  
		<div class="header-blue"><nav><a href="/inscripcion" class="link">Mas Información Incripción Bomberos</a></nav></div>
	  </div>
	
	
	  <div class="two animate__animated animate__fadeInUp animate__delay-0s">
	
		<div>
		  <img src="/public/img/policia.png" alt="" />
		</div>
		<div class="header-blue"><nav><a href="/inscripcion" class="link">Mas Información Incripción Polícia</a></nav></div>
	  </div>
	</div>
</section>